// variables

$color-primary          : #002d73;
$color-primary-light    : #B3E5FC;
$color-gray             : #808080;
$color-white            : #fff;
$color-black            : #000;

// mixins

@mixin clearfix {
    &::after{
        content: '';
        clear: both;
        display: table;
    }
}

@mixin align-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

// Media Queries

@mixin resp($breakpoint) {

    @if $breakpoint == xs {
        @media (max-width: 600px) {    
            @content
        };
    }

    @if $breakpoint == md {
        @media (max-width: 1200px) {    // 900px
            @content
        };
    }
}